{% extends "studentView/layout.njk" %}

{% block content %}

    <h3 style="text-align: center; padding: 12px">SUAS CONQUISTAS</h3>

    <section class="achievements">

        <div class="achievement" id="ZEHi62ssmOA">
            <div class="achievement__image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLh9t2hs7769DvVudSjHzHU4SbrcFoRVuEPQ&usqp=CAU" alt="Dota FastFarm">
            </div>
            <div class="achievement__content">
                <p>Parabéns por ter Adquirido 100 pontos em provas</p>
            </div>
        </div>

        <div class="achievement" id="ZEHi62ssmOA">
            <div class="achievement__image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLh9t2hs7769DvVudSjHzHU4SbrcFoRVuEPQ&usqp=CAU" alt="Dota FastFarm">
            </div>
            <div class="achievement__content">
                <p>Parabéns por ter Adquirido 200 pontos em provas</p>
            </div>
        </div>

        <div class="achievement" id="ZEHi62ssmOA">
            <div class="achievement__image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLh9t2hs7769DvVudSjHzHU4SbrcFoRVuEPQ&usqp=CAU" alt="Dota FastFarm">
            </div>
            <div class="achievement__content">
                <p>Parabéns por ter Adquirido 300 pontos em provas</p>
            </div>
        </div>
        
        <div class="achievement" id="ZEHi62ssmOA">
            <div class="achievement__image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLh9t2hs7769DvVudSjHzHU4SbrcFoRVuEPQ&usqp=CAU" alt="Dota FastFarm">
            </div>
            <div class="achievement__content">
                <p>Parabéns por ter Adquirido 400 pontos em provas</p>
            </div>
        </div>

        <div class="achievement" id="ZEHi62ssmOA">
            <div class="achievement__image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLh9t2hs7769DvVudSjHzHU4SbrcFoRVuEPQ&usqp=CAU" alt="Dota FastFarm">
            </div>
            <div class="achievement__content">
                <p>Parabéns por ter Adquirido 500 pontos em provas</p>
            </div>
        </div>

        <div class="achievement" id="ZEHi62ssmOA">
            <div class="achievement__image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLh9t2hs7769DvVudSjHzHU4SbrcFoRVuEPQ&usqp=CAU" alt="Dota FastFarm">
            </div>
            <div class="achievement__content">
                <p>Parabéns por ter Adquirido 600 pontos em provas</p>
            </div>
        </div>
    </section>

{% endblock content %}