<input type="hidden" name="id_test" value="{{id_test}}">
<input type="hidden" name="id_question" value="{{id_question}}">

<div class="item">
    <div>Alternativa</div>
    <div>
        <textarea name="alternative" id="" placeholder="Escreva o texto da alternativa" rows="10">{{alternative.alternative}}</textarea>
    </div>
</div>
