{% extends "./layout.njk" %}

{% block content %}

<section class="container form">
            
                <a class="menu"href="/cordinator/matters">Matérias</a>
                <a class="menu"href="/cordinator/tests">Provas</a>

        </form>
</section>

    {% endblock content %}