<input type="hidden" name="id_cordinator" value="{{cordinator.id}}">

<div class="item">
    <div>Matéria</div>
    <div>
        <input type="text" name="name" placeholder="Digite a matéria" value='{{cordinator.name}}'>
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input type="email" name="name" placeholder="Digite a matéria" value='{{cordinator.email}}'>
    </div>
</div>

<div class="item">
    <div>Nova Senha</div>
    <div>
        <input type="password" name="name" placeholder="Digite a matéria" value='{{cordinator.password}}'>
    </div>
</div>






